:root {
  --white: #ffffff;
  --input_background: #f2f6fa;
  --notification_red: #f21673;
  --home_navy: #337aa2;
  --green-neon: #0aff4b;
  --pdf: #ff001f;
  --psd: #0959a4;
  --svg: #c4543b;
  --bar-chart_actual_gradient: linear-gradient(180deg, rgba(222, 168, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  --transparent_background: rgba(64, 64, 84, 0.4);
  --background_dark_gradient: : linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  --gray-100: #EEF0F4;
  --gray-200: #DDE1E8;
  --gray-300:#CBD3DD;
  --gray-400: #BAC4D1;
  --gray-500:#A9B5C6;
  --gray-600:#7D8FA9;
  --gray-700:#586A84;
  --gray-800:#3B4758;
  --gray-900:#1D232C;
  --primary-100:#E5F3FF;
  --primary-200:#CBE6FF;
  --primary-300:#B1DAFF;
  --primary-400:#97CDFF;
  --primary-500:#7DC1FF;
  --primary-600:#319DFF;
  --primary-700: #0077E4;
  --primary-800:#005098;
  --primary-900: #00284C;
  --purple-100:#ECD0FD;
  --purple-200:#D8A1FA;
  --purple-300:#C571F8;
  --purple-400:#B142F5;
  --purple-500: #9E13F3;
  --purple-600: #800AC7;
  --purple-700:#600896;
  --purple-800:#400564;
  --purple-900:#200332;
  --danger-100:#FFE5EC;
  --danger-200:#FFCBD9;
  --danger-300:#FFB1C7;
  --danger-400:#FF97B4;
  --danger-500:#FF7DA1;
  --danger-600:#FF316A;
  --danger-700: #E4003F;
  --danger-800:#98002A;
  --danger-900:#4C0015;
  --warning-100:#FFF2DA;
  --warning-200:#FFE6B5;
  --warning-300:#FFD98F;
  --warning-400:#FFCD6A;
  --warning-500:#FFC045;
  --warning-600:#FFAA04;
  --warning-700:#C28100;
  --warning-800:#825600;
  --warning-900:#412B00;
  --success-100:#CAFBEC;
  --success-200:#95F7D9;
  --success-300:#60F3C6;
  --success-400:#2BEFB3;
  --success-500:#10D096;
  --success-600:#0DA678;
  --success-700:#0A7D5A;
  --success-800:#06533C;
  --success-900:#032A1E;
  --info-100:#CAF6F9;
  --info-200:#95EDF2;
  --info-300:#60E4EC;
  --info-400:#2CDAE6;
  --info-500:#17B5BF;
  --info-600:#129199;
  --info-700:#0E6D73;
  --info-800:#09484C;
  --info-900:#052426;
  --shadow:0px 4px 20px rgba(170, 169, 184, 0.1);
  --hover-shadow: 0px 4px 30px rgba(170, 169, 184, 0.4);
  --box-radius: 8px;
  --button-radius: 4px;
}
